*{
font-family: "Segoe UI Light","Segoe WP Light","Segoe WP","Segoe UI",Arial,Sans-Serif;
color: #fff;
font-weight: bold;
}

html, body{
  min-height:100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
}

form{
  margin-bottom: 15px;
}

input{
  color: black;
}

.contain{
  text-align: center;
}

.container{
  padding:7px;
  border-top:1px solid white;
  width: 100%;
  position: absolute;
  bottom:10px;
  display: flex;
  text-align: center;
}

.contain1{
  flex:1;
  font-size: 2vh;
}

.imageContainer{
  display: block;
  margin: 0 auto;
  width: 20%;
  max-height: 200px;
}

#currentLocation{
  font-size: 30px;
}

#currentIcon{
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#currentTemp{
font-size: 10vw;
}

.loader {
  display: block;
  margin:0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}