

html, body{
  min-height:100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
}

.container{
  display: flex;
  text-align: center;
}

.contain{
  text-align: center;
  height:500px;
  width:100%;
}

.contain1{
  flex:1;
}